/*-----------font style ------ */

body{
  font-family: 'Montserrat', sans-serif;
}

           /* -------------header style ------------ */


.headings {
    padding-left: 10%;
}

.firsthead {
    padding-left: 30px;
}
.headerinfo {

    display:flex
    
}
.headerinfo{
    padding-left: 12%;
}
.headerinfo img {

    width: 70%;
    padding-left: 30px;
}



.pic-col {
    width: 40%;
    padding-left: 10%;
    padding-bottom: 20%;

}





























 
          /* Know More button style  */

.btnonetop { 

text-decoration: none;

padding: 8px 30px;
border-radius: 20px;
background-image: linear-gradient(Aquamarine,Teal);
color: Gold ;
font-weight: 400;
font-style: italic;
font-family: cursive;
}

