/*-----------font style ------ */

body{
  font-family: 'Montserrat', sans-serif;
}

           /* -------------header style ------------ */
.influencer {padding-left: 3%;}

.headings {
    padding-left: 10%;
}

.firsthead {
    padding-left: 30px;
}
.headerinfo {
    display:flex;
    
}
.headerinfo{ 
    flex-direction: column;
    align-items: center;
   padding-right: 20%;
}
/*-------------------------header image styles according to divs ----------------------- */
.headerinfo img {

    width: 70%;
    padding-left: 30px;
}

.para-first {
  padding-right: 25%;
}

.pic-col {
    width: 40%;
    padding-left: 95%;
    padding-bottom: 20%;
}































 
          /* Know More button style  */

.btnonetop { 

text-decoration: none;

padding: 8px 30px;
border-radius: 20px;
background-image: linear-gradient(Aquamarine,Teal);
color: Gold ;
font-weight: 400;
font-style: italic;
font-family: cursive;
}

